@import 'ilios-common/styles';
@import 'small-group-tool';

header {
  background-color: $ilios-orange;
  color: $white;
  padding: .5em;
  text-align: center;
  width: 100%;

  h1 {
    margin: 0;
  }

  a {
    cursor: pointer;
  }
}

.login-form {
  margin: 1em auto;
  text-align: center;
}
