<header>
  <h1>Ilios Small Group Tool</h1>
  {{#if session.isAuthenticated}}
    <span>{{get (await currentUser.model) 'fullName'}} <a {{action 'invalidateSession'}}>(logout)</a></span>
  {{/if}}
</header>
{{outlet}}
